<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel" style="background-color: #d4351c">
      <h1 class="govuk-panel__title" style="color: white">
        Annual leave request denied
      </h1>
      <div class="govuk-panel__body" style="color: white">
        The status will be automatically updated for your line report
      </div>
    </div>

    <%= render "govuk_publishing_components/components/heading", {
      text: "What happens next?",
      padding: true
    } %>

    <p class="govuk-body"> 
      Your line report will be notified of your response via email and their request 
      status will be updated on their dashboard.
    </p>

    <%= render "govuk_publishing_components/components/heading", {
      text: "If you didn't mean to deny this request",
      padding: true
    } %>

    <p class="govuk-body">
      If you have denied this request in error, please contact an administrator
      immediately.
    </p>
    <p class="govuk-body">
      Administrators can be contacted via email (admins-holiday-logger@digital.cabinet-office.gov.uk)
      or on the #holiday-logger Slack channel
    </p>

    <%= link_to "Go back to line report dashboard", line_reports_path, html_options = { class: "govuk-link" }%>
  </div>
</div>
